@media screen and (min-width:310px) and (max-width:499px){

    header{
        padding: 0;
        margin: 0;
        color: #fdca40;
        font-family: 'League Gothic', sans-serif;
      
    }
    .logo{
        margin: 1% 0;
        padding:0 10% 
    }
    p{
        font-size: 40px;
        height: 20%;
    }



}
@media screen and (min-width:499px) {
   
    header{
        padding: 0;
        margin: 0;
        color: #fdca40;
        font-family: 'League Gothic', sans-serif;
      
    }
    .logo{
        margin: 10px 0;
        padding:0 20% 
    }
    p{
        font-size: 80px;
        height: 20%;
    }
}




