*{
  
}
.text{
    margin: 5% 20% 1% 20%;
    color:#fdca40;
    width: 60%;
}
.lca{
    font-size: 40px;
    margin:0 20px ;
}
.para{
    padding-left: 2%;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Figtree', sans-serif;
    margin-top: 50px;
}
span{
    margin: 0 1%;
}
.testimonials{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 2%;
}
.testimonials li h3{
    font-size: 30px;
    margin: 30px  10px;
    
}
.testimonials li p{
    color: #ffffff;
    font-size: 20px;
}