
@media screen and (min-width:200px) and (max-width:392px) {
    .nav {
        margin: 0 10%;


    }

    .navText {
        color: #fdca40;
        text-decoration: none;
        letter-spacing: 1px;
        margin: 1% 2%;
        display: block;
        font-family: 'Figtree',sans-serif;

    }

}

@media screen and (min-width:393px) and (max-width:499px) {
    .nav {
        width: 80%;
        margin: 1% 10%;
    }

    .navText {
        color: #fdca40;
        font-size: 20px;
        text-decoration: none;
        margin: 1% 2%;
        display: block;
        font-family: 'Figtree',sans-serif;
    }




}

@media screen and (min-width:500px) {

    .nav {
        width: 50%;
        margin: 3% 11%;
    }

    .unorderedlists {
        width: 80%;
        margin: 1% 20%;
        display: flex;
        
        justify-content: space-between;

    }

    .navText {
        font-size: 20px;
        
        flex-shrink: 0;
        color: #fdca40;
        text-decoration: none;
        font-family: 'Figtree',sans-serif;
    }
}